@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  --color-basic: #fff;
  --color-change: #a30000;
}

body {
  line-height: 1;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}

address {
  font-style: normal;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #fff;
}

ul, ol, li {
  list-style: none;
}

#wrap #header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#wrap #header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.4);
}
#wrap #header::before {
  content: "";
  width: 100%;
  height: 40%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
#wrap #header .imgWrap {
  height: 100%;
}
#wrap #header .imgWrap img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 130%;
  transition: all 0.1s;
  /*
      @for $변수명 from 시작숫자 through 끝나는 숫자
  */
}
#wrap #header .imgWrap img:nth-child(1) {
  z-index: 4;
}
#wrap #header .imgWrap img:nth-child(2) {
  z-index: 3;
}
#wrap #header .imgWrap img:nth-child(3) {
  z-index: 2;
}
#wrap #header .imgWrap img:nth-child(4) {
  z-index: 1;
}
#wrap #header .hTop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 100px;
  z-index: 999;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
#wrap #header .hTop .center {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
#wrap #header .hTop .center .logo a img {
  width: 55px;
  height: 55px;
}
#wrap #header .hTop .center .gnbWrap .gnb {
  display: flex;
}
#wrap #header .hTop .center .gnbWrap .gnb li {
  padding-left: 60px;
  font-weight: bold;
}
#wrap #header .hTop .center .gnbWrap .gnb li a {
  position: relative;
}
#wrap #header .hTop .center .gnbWrap .gnb li a::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
  border-radius: 5px;
}
#wrap #header .hTop .center .gnbWrap .gnb li a:hover::after {
  width: 100%;
}
#wrap #header .hTop .center .gnbWrap .gnb li a.on::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
  border-radius: 5px;
}
#wrap #header .hTop.fixed {
  position: fixed;
  background-color: #00ff7e;
  transition: all 0.3s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  line-height: 80px;
}
#wrap #header .hTop.fixed .center .logo a img {
  position: relative;
  bottom: 4.5px;
}
#wrap #header .hTop.fixed .center .notice {
  display: none;
}
#wrap #header .hTop.fixed .center .gnb a {
  color: #000;
}
#wrap #header .hTop.fixed .center .gnb a:hover::after {
  background-color: #000 !important;
}
#wrap #header .hTop.fixed .center .gnb a.on::after {
  background-color: #000 !important;
}
#wrap #header .title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 8;
}
#wrap #header .title .text_ani_box {
  display: flex;
  justify-content: center;
}
#wrap #header .title .text_ani_box svg {
  fill: none;
  width: 320px;
  stroke-width: 4px;
}
#wrap #header .title .text_ani_box path {
  stroke: #fff;
  stroke-dasharray: 779.64;
  stroke-dashoffset: 779.64;
  animation: path 4s forwards 0.7s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
@keyframes path {
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #fff;
    opacity: 0.9;
  }
}
#wrap #header .title .typingWrap {
  width: 1000px;
  position: relative;
  background-color: #289160;
}
#wrap #header .title .typingWrap .typing {
  position: absolute;
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 23px;
  font-weight: bold;
  text-shadow: 0 5px 5px rgba(255, 255, 255, 0.3);
}
#wrap #header .title .typingWrap .typing::after {
  content: "|";
  font-size: 20px;
  width: 20px;
  height: 10px;
  color: #fff;
  animation-name: cursorAni;
  /* 몇초에 걸쳐서 실행 */
  animation-duration: 0.7s;
  /* 실행횟수 */
  animation-iteration-count: infinite;
}
@keyframes cursorAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#wrap #header .hBot {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 9;
  text-align: center;
}
#wrap #header .hBot .text {
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
}
#wrap #header .hBot .mouse {
  margin: 0 auto;
  width: 20px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}
#wrap #header .hBot .mouse .mouseWheel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  animation-name: wheelAni;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes wheelAni {
  0% {
    top: 5px;
  }
  100% {
    top: 20px;
  }
}
#wrap #container .section {
  margin: 0 auto;
  width: 80%;
}
#wrap #container .section .leftText, #wrap #container .section .rightText {
  position: relative;
  color: #00ff7e;
  font-size: 70px;
  transition: all 0.1s;
}
#wrap #container .section .leftText {
  padding: 250px 0 70px;
}
#wrap #container .section .rightText {
  padding: 250px 0 150px;
  text-align: right;
}
#wrap #container .about .mainText {
  text-align: center;
  font-size: 27px;
  margin: 80px 0 45px;
}
#wrap #container .about .mainText span {
  font-size: 40px;
  position: relative;
}
#wrap #container .about .mainText span:first-child {
  bottom: 3px;
  right: 3px;
}
#wrap #container .about .mainText span:last-child {
  top: 3px;
  left: 3px;
}
#wrap #container .about .mainText .color {
  color: #00ff7e;
}
#wrap #container .about .subText {
  text-align: center;
  font-size: 17px;
  line-height: 30px;
}
#wrap #container .portfolio .subTitle {
  font-size: 30px;
  padding-bottom: 30px;
  background: linear-gradient(to bottom, #00FF7E 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#wrap #container .portfolio .pfWrap .pf {
  margin-bottom: 200px;
}
#wrap #container .portfolio .pfWrap .pf:last-child {
  margin-bottom: 0;
}
#wrap #container .portfolio .pfWrap .pf .pfTitle {
  padding-bottom: 30px;
  font-size: 27px;
}
#wrap #container .portfolio .pfWrap .pf .wrap {
  display: flex;
  align-items: center;
}
#wrap #container .portfolio .pfWrap .pf .wrap img {
  width: 650px;
  height: 400px;
  border-radius: 5px;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info {
  padding-left: 80px;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info p, #wrap #container .portfolio .pfWrap .pf .wrap .info .sideInfo {
  padding-bottom: 20px;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info p span i, #wrap #container .portfolio .pfWrap .pf .wrap .info .sideInfo span i {
  margin-right: 5px;
  font-size: 1px;
  position: relative;
  bottom: 3px;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info .sideInfo span {
  display: block;
  padding-bottom: 10px;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info .sideInfo .text {
  padding-bottom: 10px;
  font-size: 15px;
  text-indent: 10px;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info .sideInfo .id {
  position: relative;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info .sideInfo .id::before {
  content: "";
  display: block;
  position: absolute;
  left: 6px;
  top: -2px;
  width: 84%;
  height: 65%;
  background-color: #00ff7e;
  z-index: 1;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info .sideInfo .id span {
  position: relative;
  z-index: 2;
  color: #000;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info .siteWrap .text i {
  font-size: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#wrap #container .portfolio .pfWrap .pf .wrap .info .siteWrap .text i:first-child {
  margin-right: 5px;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info .siteWrap .text i:last-child {
  margin-left: 5px;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info .siteWrap button {
  cursor: pointer;
  border: 2px solid #00ff7e;
  color: #00ff7e;
  background-color: transparent;
  border-radius: 5px;
  padding: 6px 13px;
  margin-right: 13px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info .siteWrap button:hover {
  border: 2px solid #fff;
  color: #fff;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info .goSite {
  position: relative;
  display: inline-block;
  margin-top: 17px;
  color: #00ff7e;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info .goSite i, #wrap #container .portfolio .pfWrap .pf .wrap .info .goSite span {
  position: relative;
  z-index: 9;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info .goSite i {
  margin-left: 5px;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info .goSite::before {
  content: "";
  z-index: 8;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.3s;
}
#wrap #container .portfolio .pfWrap .pf .wrap .info .goSite:hover::before {
  opacity: 1;
}
#wrap #footer .leftText {
  position: relative;
  color: #00ff7e;
  padding-bottom: 70px;
  font-size: 70px;
  padding-top: 250px;
  transition: all 0.1s;
}
#wrap #footer .wrap {
  text-align: center;
}
#wrap #footer .wrap .email {
  padding-bottom: 13px;
}
#wrap #footer .wrap .phone {
  padding-bottom: 70px;
}
#wrap #footer .thanks {
  margin-bottom: 80px;
  text-align: center;
  font-size: 25px;
}